
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/fcc69ca1-f372-4b10-92b5-663b11fbb7f1.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/dcede796-67d4-4b0d-97de-94a2704a1f3b.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/475e0599-9ff9-4a00-8222-50950bd47e32.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/0e305619-28fb-4913-887e-1fe96e33de44.vsidx
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/WebBanDoCongNghe/config/applicationhost.config
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/d818690c-467b-4e12-a815-cf3a73579016.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/dcede796-67d4-4b0d-97de-94a2704a1f3b.vsidx
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/dab7fc8e-7dc5-4e0b-8ac3-b9157b796e58.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/dab3feb6-1f44-446f-a50b-21c66569d400.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/5b3c0287-7cbc-45b3-8785-7c6c0ffa963f.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/5688b14a-45d4-4bfd-a83a-3bc385286c03.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/45d17b5b-5e9c-472a-909b-50a04e8bfd7f.vsidx
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/BTTHUCHANH/DesignTimeBuild/.dtbcache.v2
.vs/BTTHUCHANH/FileContentIndex/55a5e582-7f57-4591-b59d-52852601e874.vsidx
.vs/BTTHUCHANH/v17/.futdcache.v2
.vs/BTTHUCHANH/v17/.suo
.vs/BTTHUCHANH/v17/DocumentLayout.json
.vs/ProjectEvaluation/btthuchanh.metadata.v7.bin
.vs/ProjectEvaluation/btthuchanh.projects.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/05a1f1d1-9542-435e-8dd1-d0b27955a5b1.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/47dbbf7d-0ead-4e42-baac-437ff6b69f3e.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/69896156-d314-4f5d-a1b4-48de94d8e636.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/b5066de5-590c-4b9d-858e-f7a9cb2d5542.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/d301e345-55ef-42e3-8b6f-5e022ac00739.vsidx
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/.wsuo
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
.vs/WebBanDoCongNghe/v17/workspaceFileList.bin
