
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/fcc69ca1-f372-4b10-92b5-663b11fbb7f1.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/dcede796-67d4-4b0d-97de-94a2704a1f3b.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/475e0599-9ff9-4a00-8222-50950bd47e32.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/0e305619-28fb-4913-887e-1fe96e33de44.vsidx
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/WebBanDoCongNghe/config/applicationhost.config
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.metadata.v7.bin
.vs/ProjectEvaluation/webbandocongnghe.projects.v7.bin
.vs/WebBanDoCongNghe/DesignTimeBuild/.dtbcache.v2
.vs/WebBanDoCongNghe/FileContentIndex/d818690c-467b-4e12-a815-cf3a73579016.vsidx
.vs/WebBanDoCongNghe/FileContentIndex/dcede796-67d4-4b0d-97de-94a2704a1f3b.vsidx
.vs/WebBanDoCongNghe/v17/.futdcache.v2
.vs/WebBanDoCongNghe/v17/.suo
.vs/WebBanDoCongNghe/v17/DocumentLayout.json
